.lexi-ui.drop-down-trigger {position:relative; display: inline-flex; color: $azul2; font-style: italic; border-bottom: 3px solid $azul2; padding-bottom: 3px; cursor: pointer; font-size:16px; max-height: 30px;
  .txt                     {margin-right:10px; }
  &:after                  {margin-top: 7px; display: block; content:""; border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid $azul2; margin-left: auto; transform: scaleX(0.8); }
  &.white                  {border-bottom:none; background:white; padding:8px 12px; max-height: initial;}
  &.autoscale              {min-width: initial !important;}
}

.lexi-ui.drop-down         {user-select: none; background:white; position: fixed; left: 20px; @include drop-shadow(0, 1px, 6px, #AAA);
  .checkmark               {display:none; }
  .label, .option          {border-bottom: solid #F1EFEF 1px; padding: 4px 16px 4px 22px; display: relative;
    .checkmark             {display:block; position:absolute; left:6px; top:3px;  }
  }
  .label                   {color:#B5BFC7; font-size:12px; padding-left:14px;  }
  .option                  {position:relative; color: $azul2; font-weight:$semibold; font-size: 16px; font-style: italic; cursor:pointer;
    &.focus                {background: $azul2; color: white;
      &.checked:before     {border-color:white; }
    }
    &.clicked              {background: #53F0FF;  }
    &.checked              {
      &:before             {position:absolute; left:9px; top:8px; @include checkmark; }
    }
  }
}

// Blue background theme :

.lexi-blue{
  .lexi-ui.drop-down-trigger{
    // Don't change the white dropdowns
    &:not(.white)            {border-bottom-color: $azul2-blue; color:white;
      &:after                  {border-top-color:white;}
    }
  }
}
