input.lexi-input{transition: border-bottom 400ms; padding:0 0 2px 0; background: none; border-bottom: 3px solid $azul2; color:$azul2; height:initial;
  &:focus{border-bottom-color:#0776BA; }
  &::-webkit-input-placeholder {color: #9BAFBE;}
  &::-moz-placeholder          {color: #9BAFBE;}
  &:-ms-input-placeholder      {color: #9BAFBE;}
  &:-moz-placeholder           {color: #9BAFBE;}
}

.lexi-blue{
  input.lexi-input{border-bottom-color:$azul2-blue; color:$white;
    &:focus{border-bottom-color:white; }
    &::-webkit-autofill          {-webkit-text-fill-color: #fff; -webkit-box-shadow: 0 0 0px 1000px #1dacef inset; }
    &::-webkit-input-placeholder {color: $azul2-blue !important;}
    &::-moz-placeholder          {color: $azul2-blue !important;}
    &:-ms-input-placeholder      {color: $azul2-blue !important;}
    &:-moz-placeholder           {color: $azul2-blue !important;}
  }
}

.field_with_errors   {
  &:after            {content:"!"; color:white; background:#BE335D; border-radius: 50%; width:17px; height:17px; font-weight:$bold; text-align: center; font-size:16px; line-height: 19px; }
  input.lexi-input   {border-bottom-color:#BE335D}
}
.lexi-blue           {
  $dark-error:#65122A;
  .field_with_errors {
    &:after          {background:$dark-error; color:white; }
    input.lexi-input {border-bottom-color:$dark-error}
  }
}
