$outer-width:20px;
$inner-width:10px;
$padding    :($outer-width - $inner-width)/2 - 1;
.lexi-ui.radio-btn {display:inline;
  .circle          {display: inline-block; width:$outer-width; height:$outer-width; border:solid 1px $azul2; border-radius:50%; cursor: pointer;}
  &.active         {
    .circle:after  {content:""; width:$inner-width; height:$inner-width; border-radius: 50%; background:$azul2; display:block; margin:$padding; }
  }
  .label           {margin-top:1px; }
}

.lexi-blue                 {
  .lexi-ui.radio-btn       {
    .circle                {border-color:$azul2-darker;}
    &.active .circle:after {background:white; }
  }
}
