doctype html
html(lang="en")
  
  head
    title Lexi

    // build:remove 
    link(href="stage/css/stage.css", rel="stylesheet")
    // endbuild
    
    // build:css style.css
    link(href="css/main.css", rel="stylesheet")
    // endbuild

  body
    .radios
      .radio-group
        input.lexi(value="1st" type="radio" name="group1")
        input.lexi(value="2nd" type="radio" name="group1")
        input.lexi(value="3rd" type="radio" name="group1" checked="checked")
      .radio-group
        input.lexi(value="1st" type="radio" name="group-2" checked="checked")
        input.lexi(value="2nd" type="radio" name="group-2")
        input.lexi(value="3rd" type="radio" name="group-2")
    
    .selects
      select.lexi#a
        optgroup(label="General Types")
          option(value="any-hosts") any host
          option(value="any-appComponents") any app component
          option(value="any-platformComponents") any platform component
        optgroup(label="Specific Types")
          option(value="web.1") web.1
          option(value="web.2") web.2
          option(value="web.3") web.3

      select.lexi.white#b
        optgroup(label="General Types")
          option(value="any-hosts") any host
          option(value="any-appComponents") any app component
          option(value="any-platformComponents") any platform component
        optgroup(label="Specific Types")
          option(value="web.1" selected="selected") web.1
          option(value="web.2") web.2
          option(value="web.3") web.3

      select.lexi.autoscale#c
        optgroup(label="General Types")
          option(value="any-hosts") any host
          option(value="any-appComponents") any app component
          option(value="any-platformComponents") any platform component
        optgroup(label="Specific Types")
          option(value="web.1") web.1
          option(value="web.2") web.2
          option(value="web.3") web.3
    .output
    // build:remove 
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/jade/runtime.js")
    // endbuild

    // build:js app.js
    script(src="js/main.js")
    // endbuild
    
    // build:remove 
    script(src="stage/js/stage.js")
    // endbuild
    
    
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
