doctype html
html(lang="en")
  
  head
    title Lexi

    // build:remove 
    link(href="stage/css/stage.css", rel="stylesheet")
    // endbuild
    
    // build:css style.css
    link(href="css/main.css", rel="stylesheet")
    // endbuild

  body
    //- ------------------------------------ REGULAR
    .holder.lexi
      .radios
        .radio-group
          input(value="1st" type="radio" name="group3")
          input(value="2nd" type="radio" name="group3")
          input(value="3rd" type="radio" name="group3" checked="checked")
        .radio-group
          input(value="1st" type="radio" name="group4" checked="checked")
          input(value="2nd" type="radio" name="group4")
          input(value="3rd" type="radio" name="group4")
        label
          input(value="3rd" type="radio" name="group4")
          | Label after radio
      .selects
        select#a
          optgroup(label="General Types")
            option(value="any-hosts") any host
            option(value="any-appComponents") any app component
            option(value="any-platformComponents") any platform component
          optgroup(label="Specific Types")
            option(value="web.1") web.1
            option(value="web.2") web.2
            option(value="web.3") web.3

        select.white#b
          optgroup(label="General Types")
            option(value="any-hosts") any host
            option(value="any-appComponents") any app component
            option(value="any-platformComponents") any platform component
          optgroup(label="Specific Types")
            option(value="web.1") web.1
            option(value="web.2" selected) web.2
            option(value="web.3") web.3

        select.autoscale#c
          optgroup(label="General Types")
            option(value="any-hosts") any host
            option(value="any-appComponents") any app component
            option(value="any-platformComponents") any platform component
          optgroup(label="Specific Types")
            option(value="web.1") web.1
            option(value="web.2") web.2
            option(value="web.3") web.3
      .inputs
        input(placeholder="Type in me")
      .checkboxes
        label
          | Label before
          input(type="checkbox" checked="true")
        label(for="user_eula_accepted")
          input#user_eula_accepted(type="checkbox" checked="true")
          abbr *
          | I have read and agree to the 
          a(href="//nanobox.io/legal/" target="_BLANK") EULA
        .input.boolean.optional.user_remember_me
          input(name="user[remember_me]",  type="hidden",  value="0")
          label.boolean.optional.checkbox( for="user_remember_me" )
            input#user_remember_me.boolean.optional( name="user[remember_me]",  type="checkbox",  value="1")
            | Remember me

      //-   input(type="checkbox" checked="true")
      //-   input(type="checkbox")
    
    //- ------------------------------------ BLUE
    
    .holder.lexi.lexi-blue
      .radios
        .radio-group
          input(value="1st" type="radio" name="group1")
          input(value="2nd" type="radio" name="group1")
          input(value="3rd" type="radio" name="group1" checked="checked")
        .radio-group
          input(value="1st" type="radio" name="group-2" checked="checked")
          input(value="2nd" type="radio" name="group-2")
          input(value="3rd" type="radio" name="group-2")
      
      .selects
        select#a
          optgroup(label="General Types")
            option(value="any-hosts") any host
            option(value="any-appComponents") any app component
            option(value="any-platformComponents") any platform component
          optgroup(label="Specific Types")
            option(value="web.1") web.1
            option(value="web.2") web.2
            option(value="web.3") web.3

        select.white#b
          optgroup(label="General Types")
            option(value="any-hosts") any host
            option(value="any-appComponents") any app component
            option(value="any-platformComponents") any platform component
          optgroup(label="Specific Types")
            option(value="web.1") web.1
            option(value="web.2" selected) web.2
            option(value="web.3") web.3

        select.autoscale#c
          optgroup(label="General Types")
            option(value="any-hosts") any host
            option(value="any-appComponents") any app component
            option(value="any-platformComponents") any platform component
          optgroup(label="Specific Types")
            option(value="web.1") web.1
            option(value="web.2") web.2
            option(value="web.3") web.3
      .inputs
        label Regular html label
        input(placeholder="Type in me")
      .checkboxes
        label
          | asdf
          input(type="checkbox" checked="true")
        input(type="checkbox")
    .output
    // build:remove 
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="https://use.typekit.net/cqd5kth.js")
      
    // endbuild

    script(type="text/javascript") try{Typekit.load({ async: true });}catch(e){}

    // build:js app.js
    script(src="js/main.js")
    // endbuild
    
    // build:remove 
    script(src="stage/js/stage.js")
    // endbuild
    
    
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
